body{
    background-color:lavender
}

/* Centre Carousel in viewport. */
#carouselSlidesOnly { margin: 0 auto; }

/* MEDIA QUERIES */
@media only screen and (max-width:1024px) {
    body {
        background-color:azure;
    }
    /* Increase bottom padding for card columns on mobile */
    .col {
        padding-bottom: 32px;
    }

    /* Change to block buttons for mobile/tablet users. */
    button {
        display:block;
        width: 100%;
    }
}

